.hoolay-upload-wrap {
  position: relative;

  &:after {
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
  }

  .hoolay-upload-file {
    float: left;
    position: relative;
    padding: 0.5rem 0;
    width: 7rem;
    border: 1px solid #ddd;
    border-radius: $border-radius;
    color: #888;
    background: #fff;
    font-size: 1rem;
    text-align: center;
    line-height: 1.25;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      color: #444;
      background: #eee;
      border-color: #ccc;
    }

    input {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

  .hoolay-upload-status {
    float: left;
    display: block;
    padding-left: 0.4rem;
    height: 1.25rem;
    line-height: 1.25rem;
  }
}



