.vh {
  &-modal {
    display: none;
    background-color: rgba(0, 0, 0, .5);
    .modal-content {
      border-radius: 2px;
    }
    .modal-header {
      position: relative;
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: ($font-size-base * 1.75);
      }
      .modal-title {
        font-size: ($font-size-base * 1);
        margin: 0;
        font-weight: 500;
      }
    }
    .modal-footer {
      border-top: none;
      padding: 15px;
    }

    &.fade {
    transition: all 0.3s ease;
    }
    &.fade.in {
      background-color: rgba(0,0,0,0.5);
    }

    &.zoom .modal-dialog {
      -webkit-transform: scale(0.1);
      -moz-transform: scale(0.1);
      -ms-transform: scale(0.1);
      transform: scale(0.1);
      top: 256px;
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &.zoom.in .modal-dialog {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transform: translate3d(0, -256px, 0);
      transform: translate3d(0, -256px, 0);
      opacity: 1;
    }

    &-alert {
      & > .vh-modal {
        align-items: center;
        justify-content: center;
      }

      .modal-dialog {
        margin: 0;
        min-width: 450px;
      }

      .modal-header {
        border-bottom: none;
      }
      .modal-footer {
        border-top: none;
      }
    }
  }
}

.modal-open .vh-modal-alert {
  & > .vh-modal {
    display: flex !important;
  }
}