h4.modal-title,
.modal-header .close {
    font-size: ($font-size-base * 1.25);
}
.modal-footer {
  padding: $modal-footer-padding;
}
.vh-modal.modal {
  display: block;
  background-color: rgba(0, 0, 0, .5);
  .modal-content {
    border-radius: 2px;
  }
}