// namespace
$ns: hoolay;

$hoolay-bg: #0096FF;
$primary-bg: #0F74D5;
$success-bg: #5DB860;
$info-bg: #5D8FDC;
$warning-bg: #EFAE57;
$error-bg: #D85653;

// change all the border-radius to 2px
$border-radius:2px;


// btn color
$btn-hoolay-color:            #fff;
$btn-hoolay-bg:               $hoolay-bg;
$btn-hoolay-border:           $hoolay-bg;

$btn-primary-color:           #fff;
$btn-primary-bg:              $primary-bg;
$btn-primary-border:          $primary-bg;

$btn-success-color:           #fff;
$btn-success-bg:              $success-bg;
$btn-success-border:          $success-bg;

$btn-info-color:              #fff;
$btn-info-bg:                 $info-bg;
$btn-info-border:             $info-bg;

$btn-warning-color:           #fff;
$btn-warning-bg:              $warning-bg;
$btn-warning-border:          $warning-bg;

$btn-error-color:             #fff;
$btn-error-bg:                $error-bg;
$btn-error-border:            $error-bg;

$border-width: 1px !default;
//modal
$modal-content-border-width:   0;       //put off the border of modal content
$modal-footer-border-width:    $border-width !default;
$modal-footer-padding:         10px;

//forms
$input-border-focus:           $hoolay-bg !default;

//zindex
$zindex-notification: 2000;